<form class="ak-form norecognize" name="act" method="POST" action="{% if update %}/update_action/{% else %}/act/{% endif %}" accept-charset="utf-8">
    <input type="hidden" name="page" value="{{ page.name }}">

<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-12-of-12">
        {% if not update %}
            <h2>RED ALERT: PROTEST FOR NET NEUTRALITY! EVENT SUBMISSION FORM:</h2>
        {% else %}
            <h2>Update Event Information</h2>
        {% endif %}
    </div>
</div>

<div class="ak-grid-row ak-grid-row-inverted">

    {% if page.custom_fields.featured_image %}
    <div class="ak-grid-col ak-grid-col-3-of-12">
        <img class="ak-featured-img" src="{{page.custom_fields.featured_image}}">
    </div>
    {% endif %}

    <div class="ak-grid-col {% if page.custom_fields.featured_image %}ak-grid-col-9-of-12{% else %}ak-grid-col-12-of-12{% endif %}">

        {% if not update and form.host_text %}
            <div class="ak-page-content">
                {% include_tmpl form.host_text %}
            </div>
        {% endif %}

        <div id="event-create-form" class="ak-styled-fields ak-labels-before {{templateset.custom_fields.field_errors_class|default:"ak-errs-below"}}">
            <ul class="compact" id="ak-errors"></ul>

            <div id="ak-user-info">
                {% include "./user_form_wrapper.html" %}
            </div>

            <div id="ak-event-info">
                <h3>Tell us about your event:</h3>
                <div>Add your member of Congress’ name to the protest’s event title so we can add it the map and recruit others to join you. For example, before submitting your event, the name should read, "RED ALERT: Protest for Net Neutrality outside Senator John Kennedy’s office," or, “RED ALERT: Protest for Net Neutrality outside Representative Mike Coffman’s office."
                </div>
                <div>
                    {% if campaign.use_title %}
                        <div>
                            <label for="id_event_title">Event name<span class="ak-required-flag">*</span></label>
                            <input id="id_event_title" type="text" name="event_title" value="RED ALERT: Protest for Net Neutrality outside [Senator/ Representative (name)]’s office">
                        </div>
                    {% endif %}

                    {% with event_starts_at as date_field %}
                        <div id="id_event_starts_at_row">
                            <label for="id_event_starts_at">Start date/time</label>
                            {% include "./date_picker.html" %}
                        </div>


                        <script type="text/javascript">
                            // Replace animation w/instant show, because anim
                            // breaks tabbing quickly past the date field.
                            jQuery.fn.showFast = function(speed, callback) {
                                this.show()
                                callback()
                            }
                            // Removing datepicker doesn't break anything, and
                            // it might even be useful -- I can imagine users
                            // being confused when the picker covers up other
                            // key form fields.
                            $(function() {
                                $("#id_event_starts_at_date").datepicker( {
                                    minDate: 0, showAnim: 'showFast'
                                } )
                            } );
                        </script>

                    {% endwith %}

                    {% if campaign.use_ends_at %}
                        {% with event_ends_at as date_field %}
                            <div>
                                <label for="id_event_ends_at">End time</label>
                                {% include "./date_picker.html" %}
                            </div>
                        {% endwith %}
                    {% endif %}

                    {% if campaign.allow_private %}
                        <div id="id_event_is_private_row" class="ak-checkbox-field">
                            <input id="id_event_is_private" type="checkbox" class="checkbox" name="event_is_private" value="1">
                            <label class="ak-checkbox-label" for="id_event_is_private">
                                Make event private
                            </label>
                        </div>
                    {% endif %}

                    <div>
                        <label for="id_event_max_attendees">
                            Maximum attendance<br><small>Leave blank for unlimited sign-ups</small>
                        </label>
                        <input id="id_event_max_attendees" type="text" name="event_max_attendees" value="1000" size=3>
                    </div>

                    <div id="ak-fieldbox-action_categories" class="ak-err-below">
                            <label for="id_action_categories">
                                Event Types
                            </label>
                            <select multiple="" name="action_categories" id="id_action_categories" class="ak-userfield-input">
                            <option value="meetinghouse">Drop-in at Congressional office</option> 
                            <option value="canvassing">Canvass/Door Knocking</option> 
                            <option value="petitions">Collecting Petitions</option>
                            <option value="deliverhouse">Delivery of Letters or Petitions to Elected Official, House</option> 
                            <option value="deliversenate">Delivery of Letters or Petitions to Elected Official, Senate</option> 
                            <option value="signs">Distribute Signs</option> 
                            <option value="dropinshouse">Drop-ins at Congressional Office, House</option> 
                            <option value="dropinssenate">Drop-ins at Congressional Office, Senate</option> 
                            <option value="officehours">Office Hours</option>
                            <option value="protestrally" >Event at Verizon store</option> 
                            <option value="protestcongress" SELECTED>Event at Congressional office</option> 
                            <option value="sitin">Sit-In</option> 
                            <option value="letters">Submitting Letters to the Editor</option>
                            <option value="townhall">Town Hall</option> 
                            <option value="teletownhall">Tele-Town Hall</option> 
                            <option value="emptychairtownhall">Empty Chair Town Hall</option> 
                            <option value="visibility">Visibility Event</option> 
                            <option value="other">Other</option>
                            </select>
                        </div> 
                </div>
            </div>

            {% if templateset.custom_fields.event_categories %}
            <div id="event-categories">
              <h3>Event categories</h3>
              {% with templateset.custom_fields.event_categories|load_json as categories_config %}
              {% for category in categories_config %}
              <div class="ak-err-below">
                <input id="id_action_event_category_{{ category }}"
                       class="checkbox" type="checkbox"
                       name="action_event_category"
                       value="{{ category }}"
                       {% if event and event.custom_fields.category and event.custom_fields.category|force_list|contains:category %}checked{% endif %}
                >
                <label for="id_action_event_category_{{ category }}"
                       class="ak-checkbox-label ak-event-category-checkbox-label">
                  {{ categories_config|nth:category|nth:"label" }}
                </label>
              </div>
              {% endfor %}
              {% endwith %}
            </div>
            {% endif %}

            <div id="event-info">
                <h3>Tell us where your event is so others can join you!</h3>
                <p>Tell us which Congressional office your protest will be at. Events will not be approved if they are submitted with residential addresses.
                </p>
                <p>Need help finding out who represents you in Congress?<a href="https://callyourrep.co/"> Click here.</a></p>
                <p>Need help finding your member of Congress’ in-district office address? <a href="https://docs.google.com/spreadsheets/d/1wa942AqOx61WB0k43MbfOzJwdDBIPW7s9KK-dqWWs-U/edit#gid=0">Click here. </a></p>
                <div class="unknown_user">
                    <!--
                        This only shows if the user form includes all of the
                        event fields (e.g., address1, country if you use it)
                    -->
                    <input id="id_at_my_house" type="checkbox" class="checkbox" name="at_my_house" value="1">
                    <label class="ak-checkbox-label" for="id_at_my_house">
                        Use my home address
                    </label>
                </div>
                <div>
                    {% with "event_" as input_name_prefix %}
                        <div>
                            <label for="id_event_venue">Venue<span class="ak-required-flag">*</span></label>
                            <input id="id_event_venue" type="text" if-at-my-house="Home" name="event_venue" value='Outside [Insert your Senator/ Representative]’s Congressional office'>
                        </div>
                        <div style="display:none;">
                            <label for="event_country">Country</label>
                            {% include "./country_select.html" %}
                        </div>
                        <div>
                            <label for="id_event_address1">Street address<span class="ak-required-flag">*</span></label>
                            <input id="id_event_address1" type="text" name="event_address1">
                        </div>
                        <div>
                            <label for="id_event_city">City<span class="ak-required-flag">*</span></label>
                            <input id="id_event_city" type="text" name="event_city" required>
                        </div>
                        <div>
                            <label for="id_event_state">State<span class="ak-required-flag">*</span></label>
                            {% include "./state_select.html" %}
                        </div>
                        <div>
                            <label for="id_event_postal">Postal<span class="ak-required-flag">*</span></label>
                            <input id="id_event_postal" type="text" name="event_postal">
                        </div>
                        <div>
                            <label for="id_event_zip">ZIP<span class="ak-required-flag">*</span></label>
                            <input id="id_event_zip" type="text" name="event_zip" required>
                        </div>
                        <!-- <div><label for="id_event_phone">Contact phone:</label> <input id="id_event_phone" type="tel" name="event_phone" size="12"></div> -->
                        {% if campaign.show_address1 %}
                            <p style="font-weight:200;width: 65%;margin-left: 35%;">NOTE: Event addresses are public.</p>
                        {% endif %}
                    {% endwith %}
                </div>

            </div>

            <div id="event-info">
                <h3>Describe your event to others:</h3>
                <div class="ak-errs-below">
                    <label for="id_event_public_description">
                        Public description<span class="ak-required-flag">*</span>
                        <br><span class="ak-normal">
                            {% if campaign.allow_private %}
                                For public events, people
                            {% else %}
                                People
                            {% endif %}
                            will see this text before signing up
                        </span>
                    </label>
                    <textarea id="id_event_public_description" name="event_public_description">
This protest is being planned in response to the upcoming Senate vote on the Congressional Review Act (CRA) resolution to save net neutrality. Congress needs to hear from us before they vote on the CRA resolution in mid-May, which is why we’re protesting on the 10th. RSVP now to let your local net neutrality organizer know that you can make it, and we’ll send you a protest guide and invite you to participate in an optional training calls with Team Internet staff and volunteers before the protest. 

The CRA resolution is Congress’ ONLY chance to overturn the FCC’s repeal and save real net neutrality rules for all—and in order for the resolution to pass the Senate and make it to the House, we need 51 senators to vote on our side. Right now, 50 senators are publicly supporting the CRA. We are going to protest outside as many Senate and House offices as possible because if we make it past the Senate vote, the battle quickly shifts to the House.

Big Cable’s lobbyists will stop at nothing to keep senators in opposition to the resolution, so we have to show up in mass numbers to make sure that our lawmakers know that we expect them to support real net neutrality rules by voting for the CRA. RSVP now!

Join the protest on Facebook to easily connect with other activists and help plan the event: [check back for Facebook event link!]

### 

Note: By choosing to attend this event, you are committing to participate non-violently and in accordance with the law, to work to de-escalate confrontations with others, and to obey the orders of authorized event marshals and of law enforcement. You also acknowledge that you are solely responsible for any injury or damage to your person or property resulting from or occurring during this event, and that you release all event sponsors and organizers (and their officers, directors, employees, and agents) from any liability for that injury or damage.                                  
                    </textarea>
                </div>

                <div>
                    <label for="id_event_directions">Directions to event</label>

                    <textarea id="id_event_directions" name="event_directions"></textarea>
                </div>

                <div style="display:none;">
                    <label for="id_event_note_to_attenddees">Note to attendees
                    </label>
                    <textarea id="id_event_note_to_attenddees" name="event_note_to_attendees"></textarea>
                </div>

            </div>

        </div><!--9-of-12-->

    </div>

</div>

<div class="ak-grid-row">
    <div class="ak-grid-col ak-grid-col-12-of-12">
        {% if not update %}
            {% if form.host_requirements|is_nonblank or form.ground_rules|is_nonblank %}
                <div id="ground-rules">
                    <h3>Now, please review these Team internet rules:</h3>

                    {% if form.host_requirements %}
                        <div class="ak-signoff-box ak-errs-below">
                            <blockquote>
                                {% include_tmpl form.host_requirements %}
                            </blockquote>
                            <div>
                                <input id="id_event_host_requirements" type="checkbox" name="event_host_requirements" value="1">
                                <label class="ak-checkbox-label" for="id_event_host_requirements">
                                    <strong>Required:</strong>
                                    I can meet the requirements for hosting an event.
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="event_host_requirements" value="1">
                    {% endif %}

                    {% if form.ground_rules|is_nonblank %}
                        <p>Here are the rules for hosting events:</p>
                        <div class="ak-signoff-box ak-errs-below">
                            <blockquote>
                                {% include_tmpl form.ground_rules %}
                            </blockquote>
                            <div>
                                <input id="id_event_host_ground_rules" type="checkbox" name="event_host_ground_rules" value="1">
                                <label class="ak-checkbox-label" for="id_event_host_ground_rules">
                                    <strong>Required:</strong>
                                    I agree to the rules for hosting an event.
                                </label>
                            </div>
                        </div>
                    {% else %}
                        <input type="hidden" name="event_host_ground_rules" value="1">
                    {% endif %}
                </div>

            {% else %}
                <input type="hidden" name="event_host_requirements" value="1">
                <input type="hidden" name="event_host_ground_rules" value="1">
            {% endif %}
        {% else %}
            <input type="hidden" name="event_host_requirements" value="1">
            <input type="hidden" name="event_host_ground_rules" value="1">
        {% endif %}

        {% if not update %}
        <p>
            <strong>Next, we&rsquo;ll review your event for approval.</strong>
        </p>
        {% endif %}

        <input id="id_submit" type="submit" value="{% if update %}Update event{% else %}Continue to next step: Confirm event{% endif %}" class="ak-submit-button">

    </div>
</div>